# This file configures the workflows to trigger in our Prow jobs.
# see kubeflow/testing/py/run_e2e_workflow.py
python_paths:
  # Need to place kubeflow/testing in front of kubeflow/testing so that the package can
  # be correctly located.
  - kubeflow/testing/py
  - kubeflow/kfctl/py
workflows:
  - app_dir: kubeflow/kfctl/testing/workflows
    component: unit_tests
    name: unittests
    params:
      workflowName: unittest
    job_types:
      - presubmit
      - postsubmit
      - periodic
    include_dirs:
      - config/*
      - cmd/*
      - pkg/*
      - testing/*
      - py/*
  - py_func: kubeflow.kfctl.testing.ci.kfctl_e2e_workflow.create_workflow
    name: kfctl-go-iap
    job_types:
      - presubmit
      - postsubmit
      - periodic
    include_dirs:
      - config/*
      - cmd/*
      - pkg/*
      - testing/*
      - py/*
    kwargs:
      use_basic_auth: false
      # Run build and then apply rather than just apply
      build_and_apply: true
      # test_endpoint flag is actually deprecated; we use pytest annotations to skip on
      # presubmit.
      test_endpoint: true
      config_path: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_iap.yaml
  # Run basic auth test as part of every periodic and postsubmit run.
  - py_func: kubeflow.kfctl.testing.ci.kfctl_e2e_workflow.create_workflow
    name: kfctl-bauth
    job_types:
      - postsubmit
      - periodic
    include_dirs:
      - config/*
      - cmd/*
      - pkg/*
      - testing/*
      - py/*
    kwargs:
      use_basic_auth: true
      build_and_apply: true
      test_endpoint: true
      config_path: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_gcp_basic_auth.yaml
  - py_func: kubeflow.kfctl.testing.ci.kfctl_upgrade_e2e_workflow.create_workflow
    name: kfctl-upgrade
    job_types:
      - presubmit
      - postsubmit
      - periodic
    include_dirs:
      - pkg/kfupgrade/*
      - pkg/apis/apps/kfupgrade/*
      - py/kubeflow/kfctl/testing/ci/kfctl_upgrade_e2e_workflow.py
      - py/kubeflow/kfctl/testing/pytests/kfctl_upgrade_test.py
    kwargs:
      use_basic_auth: false
      # Run build and then apply rather than just apply
      build_and_apply: true
      # test_endpoint flag is actually deprecated; we use pytest annotations to skip on
      # presubmit.
      test_endpoint: true
      config_path: https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml
      upgrade_spec_path: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_upgrade_gcp_iap_1.0.2.yaml
  # E2E tests for kfctl_istio_dex
  # - app_dir: kubeflow/kubeflow/testing/workflows
  #   component: kfctl_go_test
  #   name: kfctl-go-dex
  #   job_types:
  #     # Enable once we have confirmed the stability of the test
  #     # - presubmit
  #     # TODO(jlewi): I don't think we want to enable on presubmit.
  #     # see https://github.com/kubeflow/kfctl/issues/57
  #     - postsubmit
  #     - periodic
  #   include_dirs:
  #     - config/*
  #     - cmd/*
  #     - pkg/*
  #     - testing/*
  #     - py/*
  #   params:
  #     platform: gke
  #     gkeApiVersion: v1
  #     workflowName: kfctl-go
  #     useBasicAuth: false
  #     useIstio: true
  #     testEndpoint: false
  #     configPath: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.yaml
  #     cluster_creation_script: create_existing_cluster.sh
  #     cluster_deletion_script: delete_existing_cluster.py
  #     nameSuffix: dex
